body{
    margin: 0px;
    height: 100%;
    font-family: "Lato", Sans-serif;
}

html {
    min-height: 100%;
    position: relative;
}

:root {

    .p-menubar {
        border-radius: 0px !important;
    }
}